.note-item {
    background-color: palegreen;
    border: 1px solid limegreen;
    border-radius: 8px;
    margin: 0 10px 10px 0;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    position: absolute;
}

.note-item.drag-enter {
    border: 2px dashed #666;
}

@media (max-width: 992px) {
    .note-item {
        height: 140px;
    }
}
