.note-item {
    background-color: blueviolet;
    border-radius: 8px;
    margin: 0 10px 10px 0;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
}

@media (max-width: 992px) {
    .note-item {
        height: 140px;
    }
}
