.remove-area {
  align-items: center;
  border-radius: 8px;
  border: 1px dotted #666;
  display: flex;;
  height: 80px;
  flex-basis: 120px;
  flex-shrink: 0;
  justify-content: center;
  z-index: 999;
}

.remove-area.drag-enter {
  border-width: 2px;
}